body, h1, h2, h3, p, ul, li, a, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-width: 400px;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

header {
    background-color: #1a1a1a;
    padding: 10px 20px;
    color: #fff;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .logo a {
    color: #fff;
    text-decoration: none;
}

header .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 20%;
    font-size: 20px;
}

header .menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    display: block;
    padding: 10px;
    min-width: 180px;
    text-align: center;
}

header .menu li a:hover {
    color: #ffa500;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown a i{
    font-size: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    background: linear-gradient(
        #858890 0%,
        #545C65 100%
        );
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero img{
    width: 400px;
}

#searchBar {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    padding: 12px 20px 12px 20px;
}

.search-container {
    display: flex;
    flex-direction: row;
}

.search-container button {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 12px 20px 12px 20px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #ffa500;
}

#artigos-recentes {
    padding: 20px;
    background-color: #fff;
    gap: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

#artigos-recentes h2{
    padding: 1rem 0 1rem 0;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.article-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 11px 13px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    word-wrap: break-word;
    border: #858890 solid 2px;
}

.article-card:hover {
    transform: translateY(-10px);
}

.article-card img {
    width: 100%;
    border-radius: 5px;
    height: 200px;
    object-fit: contain;
}

.article-card a {
    color: #333;
    text-decoration: none;
}

#load-more {
    width: 15%;
    padding: 10px;
    margin-top: 30px;
    min-width: 150px;
    max-width: 300px;
    border-radius: 10px;
    background-color: #fff;
    border: #1a1a1a 2px solid;
    transition-duration: 0.4s;
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.1);
}

#load-more:hover {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: #1a1a1a;
    color: #ccc;
    text-align: center;
    padding: 10px 0;
}

footer .social-links a {
    color: #ccc;
    margin: 0 5px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #ffa500;
}

@media (max-width: 600px) {
    header .menu {
        flex-direction: column;
    }

    header .menu li {
        display: none;
    }
}

@media (max-width: 768px) {
    .articles-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (min-width: 769px) {
    .articles-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}
